body {
	background: linear-gradient(to right, #111112, #2c2d2e);
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 20px;
	margin: 0 auto;
}

.logo-container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	padding: 2rem 0;
	width: 40%;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;	
}

.card {
	list-style: none;
	padding: 15px;
	text-align: center;
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 200% 200%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card:hover {
	animation: bounce 0.5s infinite;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 1.5rem;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #ffffff;
	font-weight: lighter;
	position: relative;
	z-index: 2;
	text-transform: capitalize;
	font-style: italic;
}

.card-image {
	height: 150px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}